body {
  /*background-color: #999;*/
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  background-color: white;

}
.queue-entry, .library-entry {
  cursor:pointer;
  padding: 0.2em 0.5em;
}

.queue-entry:hover, .library-entry:hover {
  color:#999;
}

.queue-entry:hover::after {
  content: 'X';
  margin-left: 0.5em;
  color:red;
  font-weight: bold; 
}
.queue-entry:first-child {
  background-color: rgba(91, 215, 91, 0.8);
  color:white;
  border-radius: 5px;
}

.library-entry:hover::after {
  content: '+';
  margin-left: 0.5em;
  color:#33cc33;
  font-weight: bold; 
  background:none;
}

.playcount {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}