/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
background-color: #AAA; /*
  background: url(../images/board.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
body {
  background:none;
}


h1 {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  z-index: 5;
}
.header {
  position: relative;
  width:100%;
  margin:0;
  padding: 2em 0;
  color:white;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.25em;
  margin-bottom: 2em;
  background: url(../images/bg.jpg) no-repeat center top fixed; 
  background-size: 100%;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(127, 127, 127, 0.2);
  background-image: radial-gradient(#333, transparent);
  background-size: 2px 2px;
}

.container {
  /*background-color: white;*/

}

.panel {
  padding: 1em;
}
.song-info {
  text-align: center;
  font-weight: bold;
}
audio {
  width:100%;
}
.queue-entry, .library-entry {
  cursor:pointer;
  padding: 0.2em 0.5em;
}

.queue-entry:hover, .library-entry:hover {
  color:#999;
}

.queue-entry:hover::after {
  content: 'X';
  margin-left: 0.5em;
  color:red;
  font-weight: bold; 
}
.queue-entry:first-child {
  background-color: rgba(91, 215, 91, 0.8);
  color:white;
  border-radius: 5px;
}

.library-entry:hover::after {
  content: '+';
  margin-left: 0.5em;
  color:#33cc33;
  font-weight: bold; 
  background:none;
}

.voting {
  display: inline-block;
  background-color: #999;
  border-radius: 5px;
  padding:2px;
  color: white;
  font-size: 0.9em;
  line-height: 1.1; 
}
.glyphicon-thumbs-up:hover {
  color:#33cc33;
}

.glyphicon-thumbs-down:hover {
  color:red;
}
.playcount {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}